body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(165, 37, 168);
    background: linear-gradient(90deg, rgba(165, 37, 168, 1) 0%, rgba(190, 19, 201, 1) 37%, rgba(0, 212, 255, 1) 100%);
}
.header{
  font-size: 50px ;
  text-align: center;
  font-weight: bold;
}
.form{
  position: absolute ;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form > div {
  background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 20px whitesmoke;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid white;
width: 30vw;
display: flex;
flex-direction: column;
height: 60vh;
justify-content: space-around;
padding: 0 20px;
}
.form>div>section{
display: flex;
justify-content: space-between;
}

.check{
display: flex;
justify-content: space-around;
border: 2px solid;
}

button{
  width: 10vw;
  margin: 0 auto;
  padding: 6px;
}

.error{
  color: red;
  
}